/* L'ours barbu was here */

/* 🍔 */
#menu-bar {
  width: 45px;
  height: 40px;
  top: calc(50% - 40px); 
  cursor: pointer;
  position: fixed;
  right: 0;
  padding-right: 15px;
  z-index: 2;
}

/* Bulle */

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: radial-gradient(circle, var(--third-color), var(--third-color));
  border-radius: 50%;
  transition: 0.3s ease;
  position: fixed;
  top: 50%;
  width: 520px;
  height: 460px;
  transform: translate(100%, -50%);
  right: 0;
  transform-origin: 50% 50%;
}

.change-bg {
  transform: translate(50%, -50%);
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--third-color);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}
/* 
Coucou je suis l'ours donneur de tips, agrou agrou.
Attention, quand tu utilise les pourcentages pour "décentrer" un element, ca veux dire que quand
tu va changer la hauteur d'un element, tu va avoir des surprises de positionnement.
DONC
l'astuce du jour, c'est d'utiliser une astuce magique 🪄:
le CALC

par exemple: si tu veux déplacer un élément de 50%, mais ensuite de le décaler un peu vers le haut 
tout en gardant le positionnement initial, tu fait : `top : calc(50% - 20px)`
(20px étant evidement parfaitement arbitraire et à titre d'exemple toi même tu sais)

A bientot pour de nouveau tips magiques !🪄🪄🪄🪄🪄🪄
*/
#menu {
  position: fixed;
  top: calc(50% - 100px); /* <-- ici */
  transform: translateY(-50%);
  right: 0;
  z-index: 2;
}

.change {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  
}

.change .bar {
  background-color: var(--bg-color);
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.sidebar-nav {
  right: 0;
  padding-right: 15px;

  background-color: transparent;
  transition: 0.3s ease;
  display: none;
}

.rs-sidenav-subtle {
  background-color: transparent !important;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  text-align: right;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-size: 24px;
  padding: 0.2em;
  font-weight: bold;
  color: var(--bg-color);
}


.sidebar a {
  text-decoration: none;
}

a:hover {
    color: var(--bg-color);
    text-decoration: none;
}

.sidebar a.underline-hover-effect {
  text-decoration: none;
  color: var(--bg-color);
}

  


.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.15rem;
    position: relative;
    color: var(--bg-color);
  }
  
  .underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--bg-color);
    transition: width 0.25s ease-out;
  }
  .underline-hover-effect:hover::before {
    width: 100%;
  }
  
  .sidebar-logos {
    padding-top: 42px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 8px;
  }
  
  .sidebar img {
    height: 18px;
  }