* {
    scroll-behavior: smooth;
  }

/* TAGS SELECTORS */
h1 {
    text-align: center;
    color: white;
    padding-top: 5%;
}

#selection {
    /* Center the tags in the section */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Make the section take up the whole width of the page */
    width: 100%;

}

#projectList {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    gap: 10px;
}

#projectList .item {
    gap: 10px;
    flex-grow: 1;
    transition: all ease .5s;
    overflow: hidden;

}

#projectList .item #GunplaEshop {
    flex-grow: 4;
}

#projectList .img-container {
    position: relative;
    overflow: hidden;
}

#projectList .img-container p {
    position: absolute;
    color: var(--second-color);
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-weight: bold;
    font-size: 1.25rem;
}

dialog {
    display: none;
    animation: pop-dialog ease 0.2s both;
}

dialog[open] {
    display: block;
    outline: 0;
    padding: 5px;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.5);
    backdrop-filter: blur(5px);
    width: 50%;
}

@keyframes pop-backdrop {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  }
  
  dialog::backdrop {
    animation: pop-backdrop ease 1s both;
    background: rgba(0, 0, 0, 0.5);
  }
  
  @keyframes pop-dialog {
    from {
      opacity: 0;
      transform: rotate(10deg) scale(0.7);
    }
    
    to {
      opacity: 1;
      transform: rotate(0deg) scale(1);
    }
  }

  
  .slide-fwd-center {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  
  



.description {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--main-color);
}

.colSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    align-items: center;
}

em {
    color: white;
    font-size: 0.8rem;
}

.description h2#ModalTitle {
    color: white;
    text-align: left;
    padding-top: 0;
    margin-bottom: 0;
}

.description p {
    color: white;
}

.description svg {
    cursor: pointer;
}

.description svg path {
    fill: var(--bg-color);
}

.description img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Hover effect on the item */
#projectList .img-container:hover img {
    transform: scale(1.1);
    filter: grayscale(1) opacity(.6) blur(1px);
    cursor: pointer;
}

#projectList .img-container:hover p {
    visibility: visible;
    opacity: 1;
    cursor: pointer;

}

#projectList img {
    aspect-ratio: 4/3;
    width: 300px;
    transition: all ease .5s;
}

#projectList h2 {
    text-align: center;
    color: white;
    padding-top: 5%;
}

.tree{
    padding: 1.5rem;
}

/* Homepage redirection */

a {
    color: var(--third-color);
    text-decoration: none;
}

a:hover {
    color: var(--third-color);
    text-decoration: underline;
}

a.underline-hover-effect {
    text-decoration: none;
    color: var(--third-color);
}


.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.15rem;
    position: relative;
  }
  
  .underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--third-color);
    transition: width 0.25s ease-out;
  }
  .underline-hover-effect:hover::before {
    width: 100%;
  }
  